/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #contattaci-main {
        width: 75%;
    }

    #contattaci-iframe {
        width: 400px;
        height: 350px;        
    }

    #team-container {
        width: 75%;
    }
    #team-container .row img {
        width: 75%;
        height: 75%;   
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #contattaci-main {
        width: 50%;
    }

    #contattaci-iframe {
        width: 600px;
        height: 500px;
    }

    #team-container {
        width: 75%;
    }
    #team-container .row img {
        width: 50%;
        height: 50%;   
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #team-container {
        width: 50%;
    }
}