/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #contattaci-main {
        width: 75%;
    }

    #contattaci-iframe {
        width: 400px;
        height: 350px;        
    }

    #team-container {
        width: 75%;
    }
    #team-container .row img {
        width: 75%;
        height: 75%;   
    }
    
    .titolo-copertina {
        background-image: url('/img/background.jpg');
        height: 30vh;
        background-position: center;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #contattaci-main {
        width: 50%;
    }

    #contattaci-iframe {
        width: 600px;
        height: 500px;
    }

    #team-container {
        width: 75%;
    }
    #team-container .row img {
        width: 50%;
        height: 50%;   
    }

    .titolo-copertina {
        background-image: url('/img/background.jpg');
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #team-container {
        width: 50%;
    }
}
